*                           text=auto   eol=crlf
Building/Home/bin/finf      text        eol=lf
Building/Home/bin/hash      text        eol=lf
Building/Home/bin/macro     text        eol=lf
Building/Home/bin/macrec    text        eol=lf
Building/Home/bin/dups.pl   text        eol=lf
